@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", segoeui;
}

body {
    background-color: var(--bgcolor);
}

:root {
    --white: white;
    --black: rgb(58, 57, 57);
    --lightblack: rgb(71, 71, 71);
    --bgcolor: rgb(248, 243, 243);
}

a {
    color: unset;
}

.d-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}


header {
    width: 100%;
    height: 15vh;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);

}

.topNav {
    width: 100%;
    height: 5vh;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.topNav .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.topNav .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

/* bottomNav */
.bottomNav {
    width: 100%;
    height: 10vh;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: var(--black);
    border-bottom: 2px solid black;
}

.bottomNav .navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.bottomNav .navlist a {
    transition: .3s ease-in-out;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.bottomNav .navlist a:hover {
    color: blueviolet;
    /* border-bottom: 3px solid blueviolet; */
    padding: 5px;
}



/* slider css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    width: 100%;
    height: 85vh;
    position: relative;
}

.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    animation-duration: 18s;
    animation-delay: 3s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

.slider:nth-child(1) {
    background: url('../images/slider/java.jpg')no-repeat center center/cover;
    animation-name: fifth;

}

.slider:nth-child(2) {
    background: url('../images/slider/android.jpg')no-repeat center center/cover;
    animation-name: second;

}

.slider:nth-child(3) {
    background: url('../images/slider/csharp.jpg')no-repeat center center/cover;
    animation-name: third;
}

.slider:nth-child(4) {
    background: url('../images/slider/php2.jpeg')no-repeat center center/cover;
    animation-name: fourth;

}

.slider:nth-child(5) {
    background: url('../images/slider/java.jpg')no-repeat center center/cover;
    animation-name: first;

}

@keyframes first {
    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes second {
    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes third {
    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fourth {
    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fifth {
    20% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}